.logo {
    align-items: center;
    display: flex;
}

.logo img {
    width: 48px;
    height: 48px;
}

.logo span {
    font-size: 24px;
    padding-left: 5px;
}

.container {
    padding: 10px;
}

.ant-card {
    margin-top: 5px !important;
}

.ant-card-head-title {
    text-align: left !important;
}

.ant-card-body {
    text-align: left !important;
}

.registerBox .ant-form-item:first-child, .loginBox .ant-form-item:first-child{
    margin-top: 24px;
}

#container {
    text-align: center !important;
}

.container {
    margin-top: 5px;
}

.carousel img {
    width: 100%;
}

.topNewsList {
    text-align: left;
    font-size: 14px;
    margin-bottom: 10px;
}

.topNewsList a {
    color: #666 !important;
}

.topNewsList .ant-list-item {
    padding: 0;
}

.topNewsList .ant-list-item-content {
    width: 0;
}

.topNewsList .ant-list-item-content p {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 5px 0;
}

.ant-tabs-bar {
    margin-bottom: 0 !important;
}

.ant-card-body {
    padding: 15px !important;
}

/*image block******START*****/
.imageblock {
    display: inline-block;
}

.custom-card {
    padding: 5px;
}

.custom-card p {
    color: #999;
}


/*image block******END*****/
iframe {
    position: relative !important;
    overflow-y: hidden !important;
    overflow-x: hidden !important;
}

#content {
    font-size: 12px !important;
}

.ant-menu-horizontal > .ant-menu-item > a, .ant-menu-horizontal > .ant-menu-submenu > a {
    display: inline-block !important;
}

/*Footer******Start*****/

.footer {
    text-align: center;
    padding-top: 20px;
}

/*Footer******End*****/
.title, .article-title .title {
    font-size: 0.44rem !important;
    line-height: 1.4em
}

.article-src-time {
    font-size: 0.3rem !important;
}

.article-content .txt {
    font-size: 0.36rem !important;
}

/*  comments **** start ***/
.comment .ant-list-item {
    display: block;
    position: relative;
}

.comment .ant-list-item-meta .ant-list-item-meta-description {
    font-size: 10px;
}

.comment .ant-list-item-content {
    justify-content: flex-start;
}

.comment .ant-list-item .ant-list-item-action {
    margin-left: 0;
    position: absolute;
    top: 0;
    right: 0;
    margin-top: 8px;
}

/*  comments **** end ***/